@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap');

.root {
    -fx-font-family: 'Roboto', sans-serif;
}

#lblTitle {
    -fx-font-weight: 900;
}

#txtNIC {
    -fx-background-color: #ff9740;
    -fx-text-fill: #FFFFFF;
    -fx-padding: 0 30 0 15;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.25), 0,0,0,2);
    -fx-background-radius: 10;
    -fx-prompt-text-fill: #FFFFFF;
}

#cmbxMethodOfLearning {
    -fx-background-color: #ff9740;
    -fx-text-fill: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.25), 0,0,0,2);
    -fx-background-radius: 10;
    -fx-prompt-text-fill: #FFFFFF;
    -fx-padding: 0 0 0 35;
}

#cmbxMethodOfLearning:hover {
    -fx-cursor: hand;
}

#cmbxMethodOfLearning .list-cell {
    -fx-text-fill: #FFFFFF;
}

#cmbxMethodOfLearning .list-cell:focused {
    -fx-background-color: #ff9740;
}

#cmbxMethodOfLearning .list-view .list-cell {
    -fx-text-fill: #1f1e37;
}

#cmbxMethodOfLearning .list-view .list-cell:hover {
    -fx-background-color: #ff9740;
    -fx-cursor: hand;
}

#txtGuardianContact, #txtGuardianName {
    -fx-background-color: #d7dadb;
    -fx-text-fill: #1f1e37;
    -fx-padding: 0 30 0 15;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.25), 0,0,0,2);
    -fx-background-radius: 10;
    -fx-font-weight: 400;
    -fx-prompt-text-fill: #1f1e37;
    -fx-border-radius: 10;
}

#txtReason {
    -fx-background-color: #d7dadb;
    -fx-text-fill: #1f1e37;
    -fx-padding: 10 30 0 15;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.25), 0,0,0,2);
    -fx-background-radius: 10;
    -fx-font-weight: 400;
    -fx-prompt-text-fill: #1f1e37;
    -fx-border-radius: 10;
}

#txtGuardianContact:focused, #txtGuardianName:focused, #txtReason:focused {
    -fx-border-width: 2;
    -fx-border-color: #ff9740;
    -fx-prompt-text-fill: #ff9740;
}

#btnWrapItUp {
    -fx-background-color: #1f1e37;
    -fx-text-fill: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.25), 0,0,0,2);
    -fx-background-radius: 20;
    -fx-padding: 0 0 0 15;
}

#btnWrapItUp:hover {
    -fx-background-color: #ff9740;
    -fx-cursor: hand;
}

#lblNIC, #lblMethodOfLearning {
    -fx-font-weight: 900;
}